header {
    margin: 0;
    padding: 0;
    font-family: Gotham;
    font-size: 20px;
}

.profile-header {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;  
    justify-content: space-between; /* THIS pushes the button to the right */
    padding: 30px;
}

.logout-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c0392b;
}
