body {
    margin: 0;
    padding: 0;
    background-image: url('pexels-pixabay-210604.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

h1 {
    margin: 0;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    letter-spacing: 0.1em;
}

.log-in-box {
    background: rgba(255, 255, 255, 0.25); 
    border-radius: 20px 10px 20px 10px;
   
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 25px 50px;
    width: 400px;
    color: black;
   
}

.log-in-header h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 20px 0;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.input-container label {
    padding-right: 10px;
    width: 30%;
}

.input-container input[type="email"],
.input-container input[type="password"] {
    border: 2px solid black;        
    border-radius: 10px;           
    width: 100%;                    
    font-size: 1rem;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 10px 15px;             
    transition: 0.3s ease;          
}

.log-in-button {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background-color: black;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    font-size: small;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.login-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 0.9rem;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: rgb(210, 23, 23);
    margin: 10px 0;
}