body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url("pexels-pixabay-210604.jpg");   /* CHANGE THIS */
    background-size: cover;                    /* fills screen */
    background-position: center;               /* centers photo */
    background-repeat: no-repeat;
}


/* Header (AZURE HOTEL) */
header {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
     padding: 25px 0;
    font-family: 'Copperplate Gothic Light', fantasy;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
}

.design-header h1 {
    font-size: 48px;
    letter-spacing: 5px;
    font-weight: 300;
    margin: 0;
}

/* "Dashboard" title */
h2 {
    text-align: left;
    margin-left: 80px;
    margin-top: 40px;
    font-size: 26px;
}

/* Stats Container */
.dashboard-stats {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Individual stat card */
.stat-card {
    background: #f2efef;
    width: 350px;              /* match screenshot width */
    height: 170px;             /* makes centering perfect */
    border-radius: 35px;
    display: flex;             /* enable flexbox */
    flex-direction: column;    /* stack title + number */
    justify-content: center;   /* vertical center */
    align-items: center;       /* horizontal center */
    text-align: center;
}

.stat-card h3 {
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}

.stat-card p {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 700;
}


/* Employees per Position title */
h3 {
    text-align: left;
    margin-left: 80px;
    font-size: 24px;
}

/* Table */
table {
    width: 85%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #f2efef;
    border-radius: 25px;
    overflow: hidden;
}

/* Table header */
table th {
    background: #6d6a6a;
    color: white;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

/* Table rows */
table td {
    padding: 20px;
    font-size: 20px;
    border-top: 1px solid #aaa;
    background-color: #f9f7f7;
}

table td:nth-child(1) {
    text-align: left;
    padding-left: 16%;      /* indent like your screenshot */
}

table td:nth-child(2) {
    text-align: center;
    
}