body {
    font-family: Gotham;
    margin: 0;
    padding: 0;
}

/* For sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;

    z-index: 1;
    top: 0;
    left: 0;
    background-color: #610C27;

    overflow-x: hidden;
    padding-top: 60px;

    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family: Gotham;
    color: #050505;
    display: block;
    transition: 0.3s
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.header-container {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;  
    padding: 30px;
}

/* Hamburger */
.hamburger-bar {
    cursor: pointer;
    margin-right: 15px;  
}

.hamburger-bar img {
    margin: 0;
}

/*Header*/

.header {
    transition: margin-left 0.5s;
}

.header h2, .header p {
    margin: 0;           
}

/* Main content */
.main {
    transition: margin-left 0.5s;
    padding: 20px;
}
